<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{ background-color:#8ddbdb;
background-image: url(https://i.ibb.co/0Xdq29q/Bg.jpg);}

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;

}
</style>
<body>
    <br>
    <br>
    <center>
    <br>
    <br>
    <h1> {{msg}} </h1>
    <br>

</center>
</body>
</html>

